html {
    box-sizing: border-box;
}

body {
    font-family: "Lucida Sans", "Lucida Sans Regular", 
    "Lucida Grande", "Lucida Sans Unicode", Geneva, 
    Verdana, sans-serif;
    margin: 0;
}

header {
    background-color: green;
    position: relative;
    padding: 1rem;
}

.items {
    grid-template-areas: 
    "top top top" "mid mid mid" "bot bot bot";
}