*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

header {
    background-color: rgb(255, 255, 255);
    list-style-type: none;

}

.title {
    position: absolute;
    top: 1%;
    left: 50%;
    text-decoration: none;
    color: black;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

nav a {
    font-size: 15px;
    text-decoration: none;
    color: black;

}

nav li {
    display: inline;
}

.container {
    position: absolute;
    margin-left: 77%;
    margin-top: .01%
}

.mg {
    position: absolute;
    margin-left: 86.5%;
    margin-top: .01%;
  }

.cart {
    position: absolute;
    margin-left: 90%;
    margin-top: .1%;
}

.motto1 {
    color: white;
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 50px;
}

.motto2 {
    color: white;
    position: absolute;
    margin-top: 25%;
    margin-left: 75%;
    font-size: 50px;
}

.about-text { grid-area: item1; }
.glaze { grid-area: item2; }
.flower { grid-area: item3; }
.about-text2 { grid-area: item4; }

.about-section {
    display: grid;
    grid-template-areas: 
    'item1 item1 item2 item2'
    'item3 item4 item2 item2';
    gap: 50px;
}

body {
    font-family: "Lucida Sans", "Lucida Sans Regular", 
    "Lucida Grande", "Lucida Sans Unicode", Geneva, 
    Verdana, sans-serif;
    margin: 0;
}
hr {
    width: 50%;
    margin-left: 0%;
    background-color: black;
    height: 3px;

}

.items {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 50px;
    padding: 100px;
}

.items a{
    color: #BF7631;
}

.contactinfo {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 5px;
    font-size: 25px;
}

input[type=button] {
    color: white;
    background-color: #BF7631;
    margin-left: 47%;
    text-decoration: none;
    border: none;
}

footer {
    background-color: #BF7631;
    color: black;
}

.base {
    padding: 30px;
    gap: 50px;
    margin-left: 37%;
}

.copyright {
    margin-left: 20%;
    font-size: small;
}
